<h1>Index Template</h1>

<h2>{{model.length}} friends</h2>
<ul>
  {{#each friend in model}}
    <li>{{link-to friend.fullName 'friends.show' friend.id}}</li>
  {{/each}}
</ul>
{{#link-to 'friends.new'}}
create a new friend
{{/link-to}}
